{% extends 'home1.html' %}
{% block title %}
    <title>issue book</title>
    {% endblock title %}


  {% block body %}
<h1 class="text-center">Book Issue</h1>

<form method="POST" action="/issue">
  <div class="mb-3 my-5">
    <label for="exampleInputEmail1" class="form-label">Book_id</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Book_id" name="book_id">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Student_id</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Student_id" name="student_id">
  </div>

  <button type="submit" class="btn btn-primary">Issue</button>
</form>

{% endblock body %}